 
 
 @font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto.ttf);
	
}

@font-face {
    font-family: 'Rapier';
    src: url(fonts/Rapier.otf);
	
}



body {
	
	background-color: #000;
	
	
}


		
        


@-webkit-keyframes animatedBackground {

        to { background-position-x:100%; }

        }


 
 
#gameboard { 
 
 z-index: 5;
 background-image: url('images/foreground.png');
	-webkit-animation: animatedBackground 50s linear infinite;	
    background-repeat: repeat; 

 
 
 
 }
 
#game-wrapper { 

z-index: 4;
margin: 0px auto 0 auto; 
width: 1000px; 


}
	  




#page-wrap {
	
	background-image: url(images/mars.png);
	background-size:1000px 100px;
	background-repeat:no-repeat;
	background-position: top;
	width: 1000px;
	height: 550px;
	margin: 10px auto 0 auto;
	position: relative;
	z-index: 3;
	overflow: hidden;
	border: 10px #ababab solid;

-moz-box-shadow: inset 0px 0px 0px 5px #c7c7c7;
-webkit-box-shadow: inset 0px 0px 0px 5px #c7c7c7;
box-shadow: inset 0px 0px 0px 5px #c7c7c7;
}

#earth {
	
	background-image: url(images/Earth.png);
	background-size:1000px 100px;
	background-position: bottom;
	background-repeat:no-repeat;
	height: 550px;
	width: 100%;
	position: absolute;
	bottom: 10px;
	z-index: 1;
	
	
}

#controls {
	
	color: #FFF;
	font-family: 'Roboto';
	width: 450px;
	height: 147px;
	background-image: url(images/Keys_layout.png);
	background-size: 100%;
	background-position: top;
	background-repeat: none;	
	margin: 0 auto;
	
}



	  